# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: can be floats, integers, do basic arithmetic on them

Strings: immutable, concatenation can happen however

Lists: can have strings, numbers, tuples in them

Tuples: immutable

Dictionaries: keys and values attached to them

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
100.25 + 0.75 - 0.75 * 1.0/1.0

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [5]:
2/3
#will produce a 1 in Python2, can be exact if you use a float
#exact now bc Python3 does support literal multiplication, doesnt use floor

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [10]:
#uses pemdas 
a = 4*(6+5)
b = 4*6+5
c = 4+6*5

print(a)
print(b)
print(c)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?
* A float, so long as there is one float, the end result is a floating point number

What would you use to find a numberâ€™s square root, as well as its square?

In [13]:
###IDK

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [14]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using indexing:

In [16]:
s ='hello'

# Reverse the string using indexing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
s ='hello'

# Print out the

print(s[4])
print(s[-1])

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [28]:
list = []
for x in range(0,3):
    list.append(0)
print(list)


num1 = 0
num2 = 0
num3 = 0
list_two = [num1, num2, num3]
print(list_two)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [29]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
print(l)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [31]:
l = [5,3,4,6,1]
l.sort()
print(l)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [33]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [36]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [54]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d['k1'][0]['nest_key'][1]

['hello']

In [55]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?

* No, bc they are orderless

## Tuples

What is the major difference between tuples and lists?
- tuples: immutable
- lists: mutable

How do you create a tuple?

- use parentheses: i.e tuple = ()

## Sets

What is unique about a set?

- everything. no repetition in sets, can be ordered as well

Use a set to find the unique values of the list below:

In [64]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

z = ['M','Z','C']
hello = set(z)
print(hello)

{'M', 'Z', 'C'}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [65]:
# Answer before running cell
# False
2 > 3

False

In [66]:
# Answer before running cell
#False
3 <= 2

False

In [67]:
# Answer before running cell
#False
3 == 2.0

False

In [68]:
# Answer before running cell
#True
3.0 == 3

True

In [69]:
# Answer before running cell
#False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [70]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
#3>=4, False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!