** Sets **

In [9]:
# making an empty set
# curly brackets: so sets are like dictionaries but no pairs
# just unique keys with no values attached
x = set()

In [10]:
x

set()

In [11]:
x.add(1)

In [12]:
x

{1}

In [13]:
l = [1,1,1,2,2,2,2,3,3,3,4]

In [15]:
#if i cast a set on a list it returns its unique elements
set(l)

{1, 2, 3, 4}

** Booleans **

In [19]:
# True, False, None
11 > 2

True

In [20]:
2 > 3

False

In [21]:
b = None

** Comparison Operators AND Chained Comparison Operators **

In [22]:
# <> and != are the same

In [23]:
#Chain Comparison Operators:
1<2 and 2<3

True

In [24]:
2<1 or 5<4

False

** Intro to Python Statements **

In [27]:
# In another language:
#if (a<b){
#    a = 2;
#    b = 4;
#}

In [29]:
# In Python: whitespace important, lack of semicolon

#if a > b:
#    a = 2
#    b = 4

** If/Elif/Else Statements **

In [30]:
# if this CASE happens do this
# elif another CASE happens, do this
# else -- none of the above CASES happened, do this

In [32]:
if True:
    print('It was True')

It was True

In [33]:
x = False

if x:
    print('x was True')
else:
    print('I will print when x is anything but True')

I will print when x is anything but True

In [35]:
loc = 'Mall'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the Bank!')
else:
    print('Where u at???')

Where u at???

In [36]:
person = 'Sam'

if person == 'Sam':
    print('Hi Sam!')
else:
    print("What's your name?")

Hi Sam!

** For Loops**

In [37]:
# for loops = iterators (for items in sequence)

l = [1,2,3,4,5]

In [40]:
for element in l:
    print('something!')

something!
something!
something!
something!
something!

In [41]:
# modulo = remainder in division

10 % 3

1

In [43]:
for num in l:
    if num % 2 == 0:
        print(num)

2
4

In [44]:
list_sum = 0

for num in l:
    list_sum = list_sum + num
print(list_sum)

15

In [45]:
s = 'this is a string'

In [49]:
tup = (1,2,3,4,5)

for item in tup:
    print(item)

1
2
3
4
5

In [50]:
l = [(2,4),(6,8),(10,12)]

In [51]:
# tuple unpacking with for loop

for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [52]:
for (t1,t2) in l:
    print(t1)

2
6
10

In [53]:
# with dictionary
d = {'k1':1, 'k2':2,'k3':3}

In [55]:
for item in d:
    print(item)

k1
k2
k3

In [57]:
#creates a generator
#iterates through keys and items in a dict

# .iteritems() for Python 2
# Python 3: use .items() to iterate through the keys and values of a dict
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

** While loops**

In [58]:
# general way to iterate
# executes something repeatedly until True

# ex:
#while test:
#   code statement
#else:
#   final code statement

In [62]:
x = 0 

while x < 10:
    print('x is currently:', x)
    x += 1

x is currently: 0
x is currently: 1
x is currently: 2
x is currently: 3
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9

In [64]:
x = 0

while x < 10:
    print('x is currently:',x)
    x +=1
else:
    print('All DONE!')

x is currently: 0
x is currently: 1
x is currently: 2
x is currently: 3
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9
All DONE!

** Break, Continue, and Pass**

In [65]:
# break = breaks out of current closest enclosing loop
# continue = goes to top of the closest enclosing loop
# pass = does nothing

#ex:
#while test: 
#   code statement
#   if test:
#      break
#   if test:
#      continue
#else:

In [68]:
x = 0

while x < 10:
    print('x is currently:',x)
    print('x is still less than 10, adding 1 to x')
    x += 1
    
    if x == 3:
        print('Hey, x equals three!')
        break
    else:
        print('continuing...')
        continue

x is currently: 0
x is still less than 10, adding 1 to x
continuing...
x is currently: 1
x is still less than 10, adding 1 to x
continuing...
x is currently: 2
x is still less than 10, adding 1 to x
Hey, x equals three!

** Range function **

In [85]:
# start to end number, can include a 'step' as well
# Python 2: range(0,10) = automatically outputs list (range and xrange exist)
# Pyton 3: need to cast range to a list (only range)
ranges = (list(range(0,10)))

In [86]:
type(ranges)

list

In [87]:
start = 0
stop = 20

y = range(start,stop, 2)

In [88]:
list(y)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
# generators can be used for one-time uses; uses less memory

In [96]:
z = range(0,10)
zz = list(z)

In [98]:
print(type(z))
print(type(zz))


#For Python 3, xrange doesnt exist - range is xrange
#When using range in python3 its not cast into memory,
#if you want to cast into memory u have to cast to list, etc

<class 'range'>
<class 'list'>

** List Comprehensions **

In [99]:
#Can build out list, or one-line for loop
#you can nest these as well

l = []

for letter in 'word':
    l.append(letter)
print(l)

['w', 'o', 'r', 'd']

In [100]:
#Build out using list comprehension:

#Begin with what u want list to consist of (letter)
#for evry letter in the word, so no need to append
lst = [letter for letter in 'word']
print(lst)

['w', 'o', 'r', 'd']

In [101]:
#Square numbers in range and turn into list:

lst = [x**2 for x in range(0,11)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [102]:
#Checking for even numbers in a range:
lst = [number for number in range(11) if number % 2 == 0]
print(lst)

[0, 2, 4, 6, 8, 10]

In [103]:
#^how to do with for loop:
lst=[]

for number in range(11):
    if number % 2 == 0:
        lst.append(number)

In [104]:
print(lst)

[0, 2, 4, 6, 8, 10]

In [106]:
#Convert celsius to fahrenheit

celsius = [0,10,20.1,34.5]

fahrenheit = [(temp*(9/5) + 32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.18, 94.1]